h1{
  font-family:Poppins;
  text-align:center;
  color: 0C2D57;
  margin-top: 20px;
}

h3{
  font-family:Poppins;
  text-align:center;
  color: 0C2D57;
  margin-top: -30px;
  opacity: 50%;
  
}

a{text-decoration:none;}

g3{
  text-decoration:none;
  color:red;
}

hr{
  opacity:20%;
  color:#8290A3;
  border: 2px solid #8290A3;
  border-radius:50px;
  width: 90%;
}

h2{
  font-family:Poppins;
  text-align:left;
  color: 0C2D57;
  margin-left:20px;
  background: transparent;
  border-radius: 80px;
  height: 4px;
  width: 128px;
  box-shadow: 0 30px 0 0 #8290A3;
}
#g1 {
  font-family:Poppins;
  text-align:left;
  color: 0C2D57;
  margin-left:20px;
  background: transparent;
  border-radius: 80px;
  height: 4px;
  width: 85px;
  box-shadow: 0 30px 0 0 #8290A3;
}

#g2 {
  font-family:Poppins;
  text-align:left;
  color: 0C2D57;
  margin-left:20px;
  background: transparent;
  border-radius: 85px;
  height: 4px;
  width: 160px;
  box-shadow: 0 30px 0 0 #8290A3;
}

#g4{
  font-family:Poppins;
  text-align:left;
  color: 0C2D57;
  margin-left:20px;
  background: transparent;
  border-radius: 85px;
  height: 4px;
  width: 280px;
  box-shadow: 0 30px 0 0 #8290A3;
}


ul{
  font-family:Poppins;
  text-align:left;
  color: 0C2D57;
  margin-left:40px;
  margin-top:40px;
  font-size:25px;
  text-decoration:none;
}

p{
  font-family:Poppins;
  text-align:left;
  color: 0C2D57;
  margin-left:40px;
  margin-top:40px;
  font-size:25px;
  text-decoration:none;
}

.button {
  background-color: #8290A3;
  border: none;
  color: 0C2D57;
  padding: 8px 28px;
  border-radius:29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

body{
  background-color: #EFECEC;
}
